USE [master]
GO
/****** Object:  Database [QLBH-DACK]    Script Date: 12/4/2019 7:34:30 PM ******/
CREATE DATABASE [QLBH-DACK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH-DACK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLBH-DACK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH-DACK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLBH-DACK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH-DACK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH-DACK]
GO
/****** Object:  Table [dbo].[Chitietphieuxuathang]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietphieuxuathang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Maphieuxuathang] [int] NULL,
	[Masp] [int] NULL,
	[SoLuong] [int] NULL,
	[Dongiahientai] [bigint] NULL,
	[Thanhtien] [bigint] NULL,
 CONSTRAINT [PK_Chitietphieuxuathang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSKhachhang]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSKhachhang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Ngaysinh] [nvarchar](50) NULL,
	[Diachi] [nvarchar](200) NULL,
	[Gioitinh] [nvarchar](10) NULL,
	[Nganhang] [nchar](50) NULL,
	[Sotk] [bigint] NULL,
	[Sodienthoai] [int] NULL,
 CONSTRAINT [PK_DSKhachhang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khohang]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khohang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tenkhohang] [nvarchar](80) NULL,
	[Diachikho] [nvarchar](300) NULL,
 CONSTRAINT [PK_Khohang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loaihang]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loaihang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLHang] [nvarchar](500) NULL,
 CONSTRAINT [PK_Loaihang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manhinh]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manhinh](
	[IdMh] [int] IDENTITY(1,1) NOT NULL,
	[frmTen] [nvarchar](50) NULL,
	[frmNoidung] [nvarchar](50) NULL,
 CONSTRAINT [PK_Manhinh] PRIMARY KEY CLUSTERED 
(
	[IdMh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhacungcap]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhacungcap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[DienThoai] [bigint] NULL,
	[Website] [varchar](200) NULL,
 CONSTRAINT [PK_Nhacungcap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhansu]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhansu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[NgayThamgia] [nvarchar](50) NULL,
	[Diachi] [nvarchar](200) NULL,
	[Gioitinh] [nvarchar](10) NULL,
	[Nganhang] [nchar](50) NULL,
	[Sotk] [bigint] NULL,
	[Sodienthoai] [int] NULL,
	[IdQuyen] [int] NULL,
 CONSTRAINT [PK_Nhansus_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phanquyen]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phanquyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuyenId] [int] NULL,
	[ManhinhId] [int] NULL,
	[Truycap] [bit] NULL,
	[Them] [bit] NULL,
	[Xoa] [bit] NULL,
	[Sua] [bit] NULL,
	[Inan] [bit] NULL,
	[Nhap] [bit] NULL,
	[Xuat] [bit] NULL,
 CONSTRAINT [PK_Phanquyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phieuxuathang]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phieuxuathang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Madonhang] [nvarchar](100) NULL,
	[Makh] [int] NULL,
	[Makho] [int] NULL,
	[Manv] [int] NULL,
	[Ngaylap] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phieuxuathang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](20) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sanphams]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanphams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[LoaiHang] [nvarchar](50) NULL,
	[NgaySanXuat] [varchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[NhaCungCap] [nvarchar](50) NULL,
	[GiaMua] [bigint] NULL,
	[GiaBan] [bigint] NULL,
	[VAT] [bigint] NULL,
	[Khohang] [nvarchar](100) NULL,
	[Thuonghieu] [nvarchar](100) NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuonghieu]    Script Date: 12/4/2019 7:34:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuonghieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NULL,
	[Quocgia] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
 CONSTRAINT [PK_Nhasanxuat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DSKhachhang] ON 

INSERT [dbo].[DSKhachhang] ([Id], [Ten], [Email], [Ngaysinh], [Diachi], [Gioitinh], [Nganhang], [Sotk], [Sodienthoai]) VALUES (1, N'phuong', N'phuong@gmail.com', N'12/4/2019', N'194 phan chu trinh', N'Nam', N'ACB                                               ', 13326566596, 123456789)
INSERT [dbo].[DSKhachhang] ([Id], [Ten], [Email], [Ngaysinh], [Diachi], [Gioitinh], [Nganhang], [Sotk], [Sodienthoai]) VALUES (2, N'trung', N'phuong@gmail.com', N'12/4/2019', N'194 phan chu trinh', N'Nam', N'ACB                                               ', 13326566596, 123456789)
SET IDENTITY_INSERT [dbo].[DSKhachhang] OFF
SET IDENTITY_INSERT [dbo].[Khohang] ON 

INSERT [dbo].[Khohang] ([Id], [Tenkhohang], [Diachikho]) VALUES (1, N'nguyen van cu', N'227 nguyen van cu')
INSERT [dbo].[Khohang] ([Id], [Tenkhohang], [Diachikho]) VALUES (2, N'nguyen chi thanh', NULL)
INSERT [dbo].[Khohang] ([Id], [Tenkhohang], [Diachikho]) VALUES (3, N'le hồng phong', N'111 lê hồng phong quận 5')
SET IDENTITY_INSERT [dbo].[Khohang] OFF
SET IDENTITY_INSERT [dbo].[Loaihang] ON 

INSERT [dbo].[Loaihang] ([Id], [TenLHang]) VALUES (1, N'Điện Thoại')
INSERT [dbo].[Loaihang] ([Id], [TenLHang]) VALUES (2, N'Laptop')
INSERT [dbo].[Loaihang] ([Id], [TenLHang]) VALUES (3, N'Ipad')
SET IDENTITY_INSERT [dbo].[Loaihang] OFF
SET IDENTITY_INSERT [dbo].[Manhinh] ON 

INSERT [dbo].[Manhinh] ([IdMh], [frmTen], [frmNoidung]) VALUES (1, N'frmQlnguoidung', N'Quản lý người dùng')
INSERT [dbo].[Manhinh] ([IdMh], [frmTen], [frmNoidung]) VALUES (2, N'frmQlnhanvien', N'Quản lý nhân viên')
INSERT [dbo].[Manhinh] ([IdMh], [frmTen], [frmNoidung]) VALUES (3, N'frmQlsanpham', N'Quản lý sản phẩm')
SET IDENTITY_INSERT [dbo].[Manhinh] OFF
SET IDENTITY_INSERT [dbo].[Nhacungcap] ON 

INSERT [dbo].[Nhacungcap] ([Id], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (1, N'Phong vũ 2', N'148 CMT8 Q6', 202336788, N'phongvu.comn')
INSERT [dbo].[Nhacungcap] ([Id], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (2, N'Thành Nhân', N'01 Hồ xuân hương', 569782144, N'thanhnhan.com')
INSERT [dbo].[Nhacungcap] ([Id], [TenNCC], [DiaChi], [DienThoai], [Website]) VALUES (3, N'Fpt', N'227 nguyễn chí thanh', 45687568, N'fpt.com')
SET IDENTITY_INSERT [dbo].[Nhacungcap] OFF
SET IDENTITY_INSERT [dbo].[Nhansu] ON 

INSERT [dbo].[Nhansu] ([Id], [TenDangNhap], [MatKhau], [Ten], [Email], [NgayThamgia], [Diachi], [Gioitinh], [Nganhang], [Sotk], [Sodienthoai], [IdQuyen]) VALUES (1, N'trongbang', N'1234', N'Bằng', N'bang@gmail.com', N'11/28/2019', N'194 Đỗ ngọc thạnh 1', N'Nam       ', N'Nam                                               ', 1, 0, 1)
INSERT [dbo].[Nhansu] ([Id], [TenDangNhap], [MatKhau], [Ten], [Email], [NgayThamgia], [Diachi], [Gioitinh], [Nganhang], [Sotk], [Sodienthoai], [IdQuyen]) VALUES (2, N'binh', N'123', N'Bằng', N'bang@gmail.com', N'11/28/2019', N'194 Đỗ ngọc thạnh', N'Nam       ', N'                                                  ', 1, 0, 1)
INSERT [dbo].[Nhansu] ([Id], [TenDangNhap], [MatKhau], [Ten], [Email], [NgayThamgia], [Diachi], [Gioitinh], [Nganhang], [Sotk], [Sodienthoai], [IdQuyen]) VALUES (3, N'Trandinh1', N'aaaaa', N'Trần kiên định', N'dinh@gmail.com', N'11/28/2019', N'194 Đỗ ngọc thạnh zzzz', N'Nam       ', N'                                                  ', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Nhansu] OFF
SET IDENTITY_INSERT [dbo].[Phanquyen] ON 

INSERT [dbo].[Phanquyen] ([Id], [QuyenId], [ManhinhId], [Truycap], [Them], [Xoa], [Sua], [Inan], [Nhap], [Xuat]) VALUES (6, 1, 1, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Phanquyen] ([Id], [QuyenId], [ManhinhId], [Truycap], [Them], [Xoa], [Sua], [Inan], [Nhap], [Xuat]) VALUES (7, 1, 2, 1, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Phanquyen] ([Id], [QuyenId], [ManhinhId], [Truycap], [Them], [Xoa], [Sua], [Inan], [Nhap], [Xuat]) VALUES (8, 1, 3, 1, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Phanquyen] OFF
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (1, N'Người dùng')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (2, N'Quản lý')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (3, N'Admin')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
SET IDENTITY_INSERT [dbo].[Sanphams] ON 

INSERT [dbo].[Sanphams] ([Id], [TenHang], [LoaiHang], [NgaySanXuat], [XuatXu], [SoLuong], [HinhAnh], [NhaCungCap], [GiaMua], [GiaBan], [VAT], [Khohang], [Thuonghieu]) VALUES (1, N'samsung s7', N'Điện Thoại', N'12/25/2019', N'han quoc', 100, N'F:\imgUDQL\Udungql\Actions-user-group-new-icon.png', N'Phong vũ 2', 100000, 100000000, 5, N'nguyen chi thanh', N'Amazon')
INSERT [dbo].[Sanphams] ([Id], [TenHang], [LoaiHang], [NgaySanXuat], [XuatXu], [SoLuong], [HinhAnh], [NhaCungCap], [GiaMua], [GiaBan], [VAT], [Khohang], [Thuonghieu]) VALUES (2, N'fsdfsdfdssdfd', N'Laptop', N'12/18/2019', N'bbfffd', 0, N'F:\imgUDQL\Udungql\xiaomi-redmi-note-8-32gb-white-18thangbh-400x460.png', N'Phong vũ 2', 2000, 200000, 10, N'le hồng phong', N'Amazon')
SET IDENTITY_INSERT [dbo].[Sanphams] OFF
SET IDENTITY_INSERT [dbo].[Thuonghieu] ON 

INSERT [dbo].[Thuonghieu] ([Id], [TenNSX], [Quocgia], [Website]) VALUES (1, N'Apple', N'Mỹ', N'apple.com')
INSERT [dbo].[Thuonghieu] ([Id], [TenNSX], [Quocgia], [Website]) VALUES (2, N'SamSung', N'Hàn Quốc', NULL)
INSERT [dbo].[Thuonghieu] ([Id], [TenNSX], [Quocgia], [Website]) VALUES (3, N'Huawei', N'Trung Quốc', NULL)
SET IDENTITY_INSERT [dbo].[Thuonghieu] OFF
USE [master]
GO
